{% extends "base.html" %}

{% block page_meta %}
    <title>Brick {{ brick.part_num }} ({{ brick.color.name }})</title>
{% endblock %}

{% block page_content %}
    <h2> Brick {{ brick.part_num }} <span class="text-secondary">({{ brick.color.name }})
    </span></h2>

    <div class="row mt-3">
        <div class="col-auto">
            <img class="img-thumbnail shadow" src="{{ brick.image_link }}">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li><b>Part number:</b> {{ brick.part_num }} </li>
                        <li><b>Color:</b> {{ brick.color.name }} </li>
                        <li><b>RGB:</b> {{ brick.color.rgb }}</li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Contained in sets
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for brick_in_set in related_sets %}
                            {% with brick_set=brick_in_set.brick_set %}
                                <li class="list-group-item">
                                    {{ brick_in_set.quantity }}
                                    of
                                    {{ brick.part_num }}
                                    in
                                    <img class="mx-1 img-thumbnail"
                                         src="{{ brick_set.image_link }}"
                                         width="50">
                                    <a href="{% url 'set_detail' brick_set.id %}">
                                        {{ brick_set.id }}</a>
                                    {{ brick_set.name }}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
