{% extends "base.html" %}

{% block page_meta %}
    <title>{{ logged_user }}'s collection</title>
{% endblock %}

{% block page_content %}
    <h1>{{ logged_user }}'s collection</h1>
    <p class="my-3">
        Listed below are your sets and loose bricks.
        To add or delete your entire sets or bricks, insert a value and hit the button.
        You can't delete a single brick from an entire set.
        However, you can convert your set to loose bricks and then delete those.
        Note that this cannot be undone.
        Warning: you can have only 100 sets and 10.000 bricks of a type.
        If you exceed that limit (e.g. by converting a set), your set or brick quantity
        will
        be capped to these limits.
    </p>

    <div class="card mt-3">

        <div class="card-header">
            Sets

            <form method="get" action="{% url 'collection' %}" class="col-lg-6">
            {% csrf_token %}
                <div class="input-group mb-3">

                    <input type="number" name="start_quantity" id="start_quantity" value="{{ start_quantity }}" min="{{ min_quantity }}" max="{{ max_quantity }}" placeholder="Min quantity" class="form-control">
                    <input type="number" name="end_quantity" id="end_quantity" value="{{ end_quantity }}" min="{{ min_quantity }}" max="{{ max_quantity }}" placeholder="Max quantity" class="form-control">

                    <select class="form-select" id="theme" class="form-control" name="theme">
                        <option value="">All themes</option>
                        {% for theme in set_themes %}
                            <option value="{{ theme }}" {% if theme == selected_theme %}selected{% endif %}>{{ theme }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
            </form>

        </div>
        <div class="card-body">
            {% include "snippets/user_sets_snippet.html" with user_sets=user_sets %}
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            Bricks
        </div>
        <div class="card-body">
            {% include "snippets/user_bricks_snippet.html" with user_bricks=user_bricks %}
        </div>
    </div>

{% endblock %}
