{% extends "base.html" %}
{% load subtraction %}

{% block page_meta %}
    <title>My bricks</title>
{% endblock %}

{% block page_content %}
    <h1>My collection</h1>
    <p>
        Listed below are your sets and loose bricks.
        To add or delete your entire sets or bricks, insert a value and hit the button.
        You can't delete a single brick from an entire set.
        However, you can convert your set to loose bricks and then delete those.
        Note that this cannot be undone.
        Warning: you can have only 100 sets and 10.000 bricks of a type.
        If you exceed that limit (e.g. by converting a set), your set or brick quantity will
        be capped to these limits.
    </p>

    <div class="my_sets">
        <h2>My sets</h2>

        {% if user_sets %}
            <ul class="list-group">
                {% for set in user_sets %}
                    <li class="list-group-item">
                    <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <img class="img-thumbnail" src="{{ set.brick_set.image_link }}" width="120">
                    </div>
                    <div class="col-auto me-auto">
                        <a href="{% url 'set_detail' set.id %}">
                            {{ set.brick_set.name }}, quantity: {{ set.quantity }}
                        </a>
                    </div>
                    <div class="col-auto">
                    <form action="{% url 'add_set' set.brick_set.id %}" method="post">
                        {% csrf_token %}
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <input type="number" name="quantity" value="0" id="setquantity{{ set.brick_set.id }}"
                                       min="0"
                                       max="{{ 100|subtract:set.quantity }}" class="form-control">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-secondary">Add</button>
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'del_set' set.brick_set.id %}" method="post">
                        {% csrf_token %}
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <input type="number" name="quantity" value="0" id="setdelquantity{{ set.brick_set.id }}"
                                       min="0"
                                       max="{{ set.quantity }}" class="form-control">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-secondary">Delete</button>
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'convert' set.brick_set.id %}" method="post">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="0"
                                       id="convertquantity{{ set.brick_set.id }}" min="0"
                                       max="{{ set.quantity }}" class="form-control">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-secondary">Convert</button>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any sets.</p>
        {% endif %}
    </div>

    <div class="my_bricks my-3">
        <h2>My loose bricks</h2>

        {% if user_bricks %}
            <ul class="list-group">
                {% for brick in user_bricks %}
                    <li class="list-group-item">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <img class="img-thumbnail" src="{{ brick.brick.image_link }}" width="80">
                            </div>
                            <div class="col-auto me-auto">
                                <a href="{% url 'brick_detail' brick.brick %}">
                                    {{ brick.brick.part_num }}, quantity: {{ brick.quantity }}</a>
                            </div>
                            <div class="col-auto">
                                <form action="{% url 'add_brick' brick.brick.brick_id %}" method="post">
                                    {% csrf_token %}
                                    <div class="row g-2 align-items-center">
                                        <div class="col-auto">
                                            <input type="number" name="quantity" value="0"
                                                   id="brickquantity{{ brick.brick.brick_id }}"
                                                   min="0" max="{{ 10000|subtract:brick.quantity }}"
                                                   class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-outline-secondary">Add</button>
                                        </div>
                                    </div>
                                </form>
                                <form action="{% url 'del_brick' brick.brick.brick_id %}" method="post" class="mt-2">
                                    {% csrf_token %}
                                    <div class="row g-2 align-items-center">
                                        <div class="col-auto">
                                            <input type="number" name="quantity" value="0"
                                                   id="brickdelquantity{{ set.brick.brick_id }}"
                                                   min="0" max="{{ brick.quantity }}"
                                                   class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-outline-secondary">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any loose bricks.</p>
        {% endif %}
    </div>
{% endblock %}
