{% extends "base.html" %}

{% block page_meta %}
    <title>{{ logged_user }}'s collection</title>
{% endblock %}

{% block page_content %}
    <h1>{{ logged_user }}'s collection</h1>
    <p class="my-3">
        Listed below are your sets and loose bricks.
        To add or delete your entire sets or bricks, insert a value and hit the button.
        You can't delete a single brick from an entire set.
        However, you can convert your set to loose bricks and then delete those.
        Note that this cannot be undone.
        Warning: you can have only 100 sets and 10.000 bricks of a type.
        If you exceed that limit (e.g. by converting a set), your set or brick quantity
        will
        be capped to these limits.
    </p>

    <div class="card mt-3">

        <div class="card-header">
            Sets
        </div>
        <div class="card-body">
            {% include "snippets/set_statfilter.html" with submit_path="collection" %}
            {% include "snippets/user_sets_snippet.html" with user_sets=user_sets %}
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            Bricks
        </div>
        <div class="card-body">
            {% include "snippets/user_bricks_snippet.html" with user_bricks=user_bricks %}
        </div>
    </div>

{% endblock %}
