{% extends "base.html" %}

{% load bootstrap5 %}
{% load widget_tweaks %}

{% block page_content %}
  <div class="container">
    <h2 class="my-4">Edit Lego Set: {{ lego_set.name }}</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field|add_class:"form-control" }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-outline-secondary">Save changes</button>
    </form>
    <!-- Add the delete button here -->
      {% if lego_set.visibility == True %}
          <a href="{% url 'delete_custom_lego_set' lego_set.id %}" class="btn btn-danger">Hide Set</a>
      {% endif %}
      {% if lego_set.visibility == False %}
          <a href="{% url 'unhide_lego_set' lego_set.id %}" class="btn btn-success">Publish Set</a>
      {% endif %}

  </div>
{% endblock %}
