{% extends "base.html" %}

{% block page_meta %}
    <title>Set: {{ legoset.id }}</title>
{% endblock %}

{% block page_content %}
    <div class="row">
        <h1>{{ legoset.id }} - {{ legoset.name }}</h1>
    </div>
    <div class="col-md-6">
        <img src="{{ legoset.image_link }}" width="550" height="400">
    </div>

    {% if legoset.bricks %}
        <ul>
            {% for brick in bricks_in_set %}
                <li>{{ brick.brick.part_num }}, quantity: {{ brick.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any loose bricks.</p>
    {% endif %}
{% endblock %}
