{% extends "base.html" %}

{% block page_meta %}
    <title>{{ legoset.name }} ({{ legoset.id }})</title>
{% endblock %}

{% block page_content %}
    <h2>{{ legoset.name }} <span class="text-secondary">({{ legoset.id }})</span></h2>

    <div class="row mt-3">
        <div class="col-md-5">
            <img class="img-thumbnail shadow" src="{{ legoset.image_link }}">
            
            <div style="padding: 10px;">
                <div style="padding: 10px">
                    {% if likes == None %}
                        Brak ocen do wyświetlenia.
                    {% else %}
                        Średnia ocena na podstawie feedbacku użytkowników: 
                        <progress value={{likes}} max="10" style="background-color: green; border-radius: 5px;"> {{ likes }} out of 10 </progress>
                    {% endif %}
                </div>

                <div style="padding: 10px">
                    {% if age == None %}
                        Brak zalecanego wieku.
                    {% else %}
                        Średni zalecany wiek na podstawie feedbacku użytkowników: 
                        <progress value={{age}} max="10" style="background-color: green; border-radius: 5px;"> {{ age }} out of 10 </progress>
                    {% endif %}
                </div>
            </div>

            {% if request.user.is_authenticated %}
                <div style="padding: 20px">
                    <form method="POST" action="{% url 'review' legoset.id %}">
                        {% csrf_token %}
                        <label for="id_rating">Ocena:</label>
                        {{ form.rating }}
                        <br>
                        <label for="id_age">Zalecany wiek:</label>
                        {{ form.age }}
                        <br>
                        <button type="submit">Wyślij</button>
                    </form>
                </div>
            {%endif%}

        </div>
        <div class="col-md-6">
            {% if request.user.is_authenticated %}
                <div class="col-6 mb-3">
                    <form action="{% url 'add_set' legoset.id %}" method="post">
                        {% csrf_token %}
                        <label for="quantity{{ legoset.brick_set_id }}">Add this set
                            to collection</label>
                        <div class="input-group">
                            <input type="number" name="quantity"
                                   id="setquantity{{ legoset.brick_set.id }}"
                                   min="0" max="100" class="form-control"
                                   placeholder="Quantity">
                            <button type="submit" class="btn btn-secondary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    Contains
                </div>
                <div class="card-body">
                    {% if legoset.bricks %}
                        {% include "snippets/brickinset_list_snippet.html" with bricks_in_set=bricks_in_set %}
                    {% else %}
                        <p>Set doesn't contain any bricks. Strange, since that's what
                            sets are for, right?</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
