{% extends "base.html" %}

{% block page_meta %}
    <title>{{ legoset.name }} ({{ legoset.number }})</title>
{% endblock %}

{% block page_content %}
    <h2>Select missing bricks for {{ legoset.name }} <span
            class="text-secondary">
        ({{ legoset.number }})
    </span></h2>
    <p class="my-3">
        We are terribly sorry that you've lost some bricks :( Although, we can still
        make your life easier&#8482 by allowing you to track which bricks have run
        away (or stolen, pulled in by a vacuum cleaner, got eaten by a dog, run by a
        car etc.).
    </p>

    <div class="row mt-3">
        <div class="col-md-5 mb-3 mb-md-0">
            <img class="img-thumbnail shadow" src="{{ legoset.image_link }}">
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Contains
                </div>
                <div class="card-body">
                    {% if legoset.bricks %}
                        {% include "snippets/missing_list_form.html" with bricks_in_set=bricks_in_set legoset=legoset %}
                    {% else %}
                        <p>Set doesn't contain any bricks. Strange, since that's what
                            sets are for, right?</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
