<html>
<head>
</head>
<body>
{% autoescape off %}
    <h2>Hello {{ user }},</h2>
    <p>{{ author }} has offered you an exchange!</p>
    <table cellspacing="0" cellpadding="10" border="0">
        {% for set in sets_in_offer %}
            <tr>
                <td width="40">
                    <img class="img-thumbnail me-2" src="{{ set.legoset.image_link }}"
                         width="40">
                </td>
                <td width="320">
                    {{ set.get_side_display }} {{ set.quantity }}
                    x {{ set.legoset.name }}
                </td>
            </tr>
        {% endfor %}
        {% for brick in bricks_in_offer %}
            <tr>
                <td width="40">
                    <img class="img-thumbnail me-2" src="{{ brick.brick.image_link }}"
                         width="40">
                </td>
                <td width="320">
                    {{ brick.get_side_display }} {{ brick.quantity }}
                    x {{ brick.brick.part_num }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>In order to accept, refuse or submit a counteroffer, please log in to the
        platform.</p>
    <p>Cheers!</p>
    <p>yellowbrick</p>
{% endautoescape %}
</body>
</html>