{% extends "base.html" %}

{% block page_meta %}
    <title>Password Reset</title>
{% endblock %}

{% block page_content %}

    <div class="container py-5">
        {% if validlink %}
        <h1>Password Reset Confirm</h1>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
        {% endif %}
        {% if not validlink %}
        <p>Link used is either incorrect or has been already used.</p>
        {% endif %}
        
    </div>

{% endblock %}