{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>

<p>Welcome to <em>YellowBrick</em>, a very basic Django website developed as a IO project/ </p>
<p>Lorem ipsum</p>


<h2>How to get started</h2>
<p>Lorem ipsum</p>

<!-- <div>
{% load static %}
<img src="{% static 'images/local_library_model_uml.png' %}" alt="My image" width="600px">
</div>   -->

<h2>Dynamic content</h2>

<p>Our databases have the following record counts:</p>
<ul>
<li><strong>Sets:</strong> {{ num_sets }}</li>
<li><strong>Bricks for preview:</strong> {{ num_bricks }}</li>
<li><strong>Registered users:</strong> {{ num_users }}</li>
<li><strong>Trade offers:</strong> {{ num_trades }}</li>
</ul>


<p> ?? Some motto / conclusion ?? </p> 

{% endblock %}
