<!DOCTYPE html>
<html lang="en">
<head>
    {% block page_meta %}{% endblock %}

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body class="d-flex flex-column min-vh-100">
{% include "snippets/nav.html" %}
<div class="container my-4">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block page_content %}{% endblock %}
</div>

{% include "snippets/wishlist_offcanvas.html" %}
</body>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
   <span class="text-muted">
     yellowbrick. Developed @ MIMUW.
   </span>
    </div>
</footer>
</html>
