<ul class="list-group">
    {% for brick in list %}
        <li class="list-group-item">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <img class="img-thumbnail" src="{{ brick.image_link }}" width="80">
                </div>
                <div class="col-auto me-auto">
                    <a href="{% url 'brick_detail' brick.brick_id %}">{{ brick.brick_id }}
                        - {{ brick.color.name }}</a>
                </div>
                <div class="col-auto">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'add_brick' brick.brick_id %}"
                              method="post">
                            {% csrf_token %}
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <input class="form-control" type="number"
                                           name="quantity"
                                           id="quantity{{ brick.brick_id }}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                            class="btn btn-outline-secondary">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                        </div>
                        </div>
                    {% endif %}
        </li>
    {% empty %}
        <li>No bricks found.</li>
    {% endfor %}
</ul>
