<div class="accordion accordion-flush mb-3" id="exchangeFilter">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button bg-light" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#filterCollapse" aria-expanded="true"
                    aria-controls="filterCollapse">
                Filtering options
            </button>
        </h2>
        <div class="accordion-body p-0">
            <div id="filterCollapse" class="accordion-collapse collapse border p-3"
                 data-bs-parent="#exchangeFilter">
                <form action="{% url 'exchange' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <label for="offered-sets">Offered sets</label>
                            <div id="offered-sets" class="d-flex align-items-center
                                     my-2">
                                <input type="number" name="set_offered_min"
                                       id="set_offered_min"
                                       placeholder="Min"
                                       class="form-control"><br>
                                <span class="mx-3">&ndash;</span>
                                <input type="number" name="set_offered_max"
                                       id="set_offered_max"
                                       placeholder="Max"
                                       class="form-control">
                            </div>
                            {% if not user_sets_offers %}
                                You don't offer any sets.
                            {% endif %}
                            {% for set in user_sets_offers %}
                                <input type="checkbox"
                                       id="filter_sets_offers{{ set.legoset.id }}"
                                       name="filter_sets_offers"
                                       value="{{ set.legoset.id }}">
                                <label for="filter_sets_offers{{ set.legoset.id }}">
                                    <img class="img-thumbnail me-2"
                                         src="{{ set.legoset.image_link }}"
                                         width="50">
                                    <a href="{% url 'set_detail' set.legoset.id %}">{{ set.legoset.name }}</a>
                                </label>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <label for="offered-bricks">Offered bricks</label>
                            <div id="offered-bricks" class="d-flex
                                align-items-center my-2">
                                <input type="number" name="brick_offered_min"
                                       id="brick_offered_min"
                                       placeholder="Min"
                                       class="form-control">
                                <span class="mx-3">&ndash;</span>
                                <input type="number" name="brick_offered_max"
                                       id="brick_offered_max"
                                       placeholder="Max"
                                       class="form-control">
                            </div>
                            {% if not user_bricks_offers %}
                                You don't offer any bricks.
                            {% endif %}
                            {% for brick in user_bricks_offers %}
                                <input type="checkbox"
                                       id="filter_bricks_offers{{ brick.brick.brick_id }}"
                                       name="filter_bricks_offers"
                                       value="{{ brick.brick.brick_id }}">
                                <label for="filter_bricks_offers{{ brick.brick.brick_id }}">
                                    <img class="img-thumbnail me-2"
                                         src="{{ brick.brick.image_link }}"
                                         width="50">
                                    <a href="{% url 'brick_detail' brick.brick.brick_id %}">{{ brick.brick.part_num }}</a>
                                </label>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <label for="received-sets">Received sets</label>
                            <div id="received-sets" class="d-flex
                                align-items-center my-2">
                                <input type="number" name="set_wishlist_min"
                                       id="set_wishlist_min"
                                       placeholder="Min"
                                       class="form-control">
                                <span class="mx-3">&ndash;</span>
                                <input type="number" name="set_wishlist_max"
                                       id="set_wishlist_max"
                                       placeholder="Max"
                                       class="form-control">
                            </div>
                            {% if not user_sets_wishlist %}
                                You don't have any sets in your wishlist.
                            {% endif %}
                            {% for set in user_sets_wishlist %}
                                <input type="checkbox"
                                       id="filter_sets_wishlist{{ set.legoset.id }}"
                                       name="filter_sets_wishlist"
                                       value="{{ set.legoset.id }}">
                                <label for="filter_sets_wishlist{{ set.legoset.id }}">
                                    <img class="img-thumbnail me-2"
                                         src="{{ set.legoset.image_link }}"
                                         width="50">
                                    <a href="{% url 'set_detail' set.legoset.id %}">{{ set.legoset.name }}</a>
                                </label>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <label for="received-bricks">Received bricks</label>
                            <div id="received-bricks" class="d-flex
                                align-items-center my-2">
                                <input type="number" name="brick_wishlist_min"
                                       id="brick_wishlist_min"
                                       placeholder="Min"
                                       class="form-control">
                                <span class="mx-3">&ndash;</span>
                                <input type="number" name="brick_wishlist_max"
                                       id="brick_wishlist_max"
                                       placeholder="Max"
                                       class="form-control">
                            </div>
                            {% if not user_bricks_wishlist %}
                                You don't have any bricks in your wishlist.
                            {% endif %}
                            {% for brick in user_bricks_wishlist %}
                                <input type="checkbox"
                                       id="filter_bricks_wishlist{{ brick.brick.brick_id }}"
                                       name="filter_bricks_wishlist"
                                       value="{{ brick.brick.brick_id }}">
                                <label for="filter_bricks_wishlist{{ brick.brick.brick_id }}">
                                    <img class="img-thumbnail me-2"
                                         src="{{ brick.brick.image_link }}"
                                         width="50">
                                    <a href="{% url 'brick_detail' brick.brick.brick_id %}">{{ brick.brick.part_num }}</a>
                                </label>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <button class="btn btn-outline-secondary" type="submit">
                            Filter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>