<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">yellowbrick</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
                <a class="nav-link" href="{% url 'library' %}">Library</a>
                <a class="nav-link" href="{% url 'finder' %}">Finder</a>
                <a class="nav-link" href="{% url 'docs' %}">Help</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#">Sign in</a>
            </div>
        </div>
    </div>
</nav>