{% load subtraction %}
{% if user_sets %}
    <ul class="list-group list-group-flush">
        {% for set_in_collection in user_sets %}
            {% with brick_set=set_in_collection.brick_set %}
                <li class="list-group-item">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <img class="img-thumbnail"
                                 src="{{ brick_set.image_link }}"
                                 width="120">
                        </div>
                        <div class="col-auto me-auto">
                            <div class="mb-2">
                                <a href="{% url 'set_detail' brick_set.id %}">
                                    {{ brick_set.number }}</a>
                                {{ brick_set.name }} x
                                {{ set_in_collection.quantity }}
                                {{ set_in_collection.quantity }} in inventory, with
                                {{ set_in_collection.in_use }} currently built.
                                </a>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary
                                dropdown-toggle"
                                        type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Manage
                                </button>
                                <ul class="dropdown-menu p-2">
                                    <li>
                                        <form action="{% url 'add_set' brick_set.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="number" name="quantity"
                                                       value="1"
                                                       id="setquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ 100|subtract:set_in_collection.quantity }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Add
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{% url 'del_set' brick_set.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="number" name="quantity"
                                                       value="1"
                                                       id="setdelquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ set_in_collection.quantity }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Remove
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{% url 'convert' brick_set.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="number" name="quantity"
                                                       value="1"
                                                       id="convertquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ set_in_collection.quantity }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Convert
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{% url 'add_set_to_wishlist' brick_set.id 0 %}"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next"
                                                   value="{{ request.path }}">
                                            <div class="input-group">
                                                <input type="number" name="quantity"
                                                       value="1"
                                                       id="setofferedquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ set_in_collection.quantity }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Offer
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{% url 'build_set' brick_set.id %}"
                                              method="post">
                                            <div class="input-group">
                                                {% csrf_token %}
                                                <input type="hidden" name="next"
                                                       value="{{ request.path }}">
                                                <input type="number" name="quantity" value="0"
                                                       id="setbuiltquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ set_in_collection.quantity|subtract:set_in_collection.in_use   }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Build
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <form action="{% url 'dismantle_set' brick_set.id %}"
                                              method="post">
                                            <div class="input-group">
                                                {% csrf_token %}
                                                <input type="hidden" name="next"
                                                       value="{{ request.path }}">
                                                <input type="number" name="quantity" value="0"
                                                       id="setdismantledquantity{{ brick_set.id }}"
                                                       min="0"
                                                       max="{{ set_in_collection.in_use }}"
                                                       class="form-control">
                                                <button type="submit"
                                                        class="btn btn-outline-secondary">
                                                    Dismantle
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           class="btn btn-outline-secondary"
                                           href="
                                                {% url 'set_convert_to_owned' legoset_id=brick_set.id %}">
                                            Convert to owned
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have any sets.</p>
{% endif %}
