{% load subtraction %}
{% if user_bricks %}
    <ul class="list-group list-group-flush">
        {% for brick_in_collection in user_bricks %}
            {% with brick=brick_in_collection.brick %}
                <li class="list-group-item">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <img class="img-thumbnail"
                                 src="{{ brick.image_link }}" width="80">
                        </div>
                        <div class="col-auto me-auto">
                            <div class="mb-2">
                                <a href="{% url 'brick_detail' brick %}">
                                    {{ brick.part_num }}</a>
                                - {{ brick.color.name }} x
                                {{ brick_in_collection.quantity }}
                            </div>
                            <div class="d-flex">
                                <form action="{% url 'add_brick' brick.brick_id %}"
                                      method="post" class="me-2">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="number" name="quantity"
                                               value="1"
                                               id="brickquantity{{ brick.brick_id }}"
                                               min="0"
                                               max="{{ 10000|subtract:brick_in_collection.quantity }}"
                                               class="form-control">
                                        <button type="submit"
                                                class="btn btn-outline-secondary">
                                            Add
                                        </button>
                                    </div>
                                </form>
                                <form action="{% url 'del_brick' brick.brick_id %}"
                                      method="post" class="me-2">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="number" name="quantity"
                                               value="1"
                                               id="brickdelquantity{{ set.brick_id }}"
                                               min="0"
                                               max="{{ brick_in_collection.quantity }}"
                                               class="form-control">
                                        <button type="submit"
                                                class="btn btn-outline-secondary">
                                            Remove
                                        </button>
                                    </div>
                                </form>
                                <form action="{% url 'add_brick_to_wishlist' brick.brick_id 0 %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="hidden" name="next"
                                               value="{{ request.path }}">
                                        <input type="number" name="quantity"
                                               value="1"
                                               id="brickofferquantity{{ set.brick_id }}"
                                               min="0"
                                               max="{{ brick_in_collection.quantity }}"
                                               class="form-control">
                                        <button type="submit"
                                                class="btn btn-outline-secondary">
                                            Offer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% else %}
    <p>You don't have any loose bricks.</p>
{% endif %}
