{% if viable_sets %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Single</th>
            <th scope="col">General</th>
        </tr>
        </thead>
        <tbody>
        {% for viable in viable_sets %}
            <tr>
                {% with legoset=viable.lego_set %}
                    <th scope="row">{{ legoset.id }}</th>
                    <td><img class="img-thumbnail me-2" src="{{ legoset.image_link }}"
                             width="120">
                        <a href="{% url 'set_detail' legoset.id %}">{{ legoset.name }}</a>
                    </td>
                {% endwith %}
                <td>
                    {{ viable.single_diff }}
                </td>
                <td>
                    {{ viable.general_diff }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    No sets found.
{% endif %}
